<p>
  <span class='gh-user'>@{{sender}}</span> commented on issue
  <a href="{{comment.issue_url}}">{{repository}}#{{issue}}</a>.
</p>
<!-- XXX this is MD, we need to render it, and safely -->
<pre class="more">{{comment.body}}</pre>
