<p>
  <span class='gh-user'>@{{sender}}</span> <em>pushed</em> to
  <a href="{{compare}}" target="_blank">{{repository}}#{{branch}}</a>.
</p>
<ul class='commits-list'>
  {{#each commits}}
  <li><a href="{{url}}" target="_blank">{{short_sha}}</a> {{message}}</li>
  {{/each}}
</ul>